<div class="widget-wrap">
    <h3 class="widget-title"><%= __('Subscribe') %></h3>
    <div class="widget">
      <form name="subscribe" class="search-form" method="POST" netlify>
        <label style="width: 72%;">
          <input class="search-field" style="height: 36px; width: 100%;" type="email" name="email" placeholder=" Email" />
        </label>         
        <input class="search-form-submit" type="submit" value="Go"/>
      </form>
    </div>
</div>